<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Coming Soon!</title>

    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
    <style media="screen">
      table {
        margin: 0;
        padding: 0;
      }
      td {
        vertical-align: bottom;
      }
      body {
        background-color: black;
        width: 100%;
        padding: 0;
        margin: 0;
        background-image: url("https://www.cameronsworld.net/img/content/7/bg.png");
        text-align: center;
      }
      .body-more {
        color: white;
        width: 100%;
        font-size: 2.5em;
      }
      .body-more a {
        color: red;
        font-size: 1.5em
      }
    </style>
  </head>
  <body>
    <table class="body-more">
      <tr>
        <td>
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/23.gif" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://www.cameronsworld.net/img/content/22/left-side/28.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/left-side/22.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/left-side/28.gif" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://www.cameronsworld.net/img/content/22/6.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/5.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/4.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/5.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/6.gif" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://www.cameronsworld.net/img/content/22/right-side/22.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/22.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/left-side/25.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/left-side/25.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/left-side/25.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/22.gif" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/22.gif" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
          <img src="https://www.cameronsworld.net/img/content/22/right-side/3.png" alt="">
        </td>
      </tr>
    </table>
  </body>
</html>
